<div class="re_left">
    <div class="content_box click" data-set="set1">
        <p class="i18text">Mouse & Keyboard</p>
    </div>
    <div class="content_box" data-set="set2">
        <p class="i18text">Snippet</p>
    </div>
    <div class="content_box" data-set="set3">
        <p class="i18text">Navigation</p>
    </div>
    <div class="content_box" data-set="set4">
        <p class="i18text">Media</p>
    </div>
    <div class="content_box" data-set="set5">
        <p class="i18text">Web Browser</p>
    </div>
    <div class="content_box" data-set="set6">
        <p class="i18text">Editing</p>
    </div>
    <div class="content_box" data-set="set7">
        <p class="i18text">Mission Control</p>
    </div>
    <div class="content_box" data-set="set8">
        <p class="i18text">Application</p>
    </div>
    <div class="content_box" data-set="set9">
        <p class="i18text">System</p>
    </div>
    <div class="content_box" data-set="set10">
        <p class="i18text">Screen</p>
    </div>
    <div class="content_box" data-set="set11">
        <p class="i18text">Launching</p>
    </div>
    <div class="content_box" data-set="set12">
        <p class="i18text">Disable</p>
    </div>
</div> <!-- re_left -->

<!-- Mouse & Keyboard -->
<div class="re_right" data-set="set1">
    <!-- 所有的下拉樣式都在這個.re_right(data-set="set1")內, 僅須從這邊找全部可能性即可, set2以後的相同區塊僅需串接data後就可使用-->
    <div class="radiobox click" data-command="keyboard_shortcut">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">keyboard_shortcut</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">keyboard_shortcut</p>
            <input class="text" type="text" placeholder="ex：Ctrl+C" id="id-shortcut-key">
            <p class="set_word i18text">keyboard_shortcut_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Left Click -->
    <div class="radiobox" data-command="mouse_leftClick">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_leftClick</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_left_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Right Click -->
    <div class="radiobox" data-command="mouse_rightClick">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_rightClick</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_right_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Middle Click -->
    <div class="radiobox" data-command="mouse_middleClick">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_middleClick</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_middle_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Drag -->
    <div class="radiobox" data-command="mouse_leftDrag">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_leftDrag</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_left_drag_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Right Drag -->
    <div class="radiobox" data-command="mouse_rightDrag">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_rightDrag</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_right_drag_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Middle Drag -->
    <div class="radiobox" data-command="mouse_middleDrag">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_middleDrag</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_middle_drag_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Double Click -->
    <div class="radiobox" data-command="mouse_leftDoubleClick">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_leftDoubleClick</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_double_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>
    <!-- Double Right Click -->
    <div class="radiobox" data-command="mouse_rightDoubleClick">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_rightDoubleClick</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_double_right_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Double Middle Click -->
    <div class="radiobox" data-command="mouse_middleDoubleClick">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_middleDoubleClick</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_double_middle_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Triple Click -->
    <div class="radiobox" data-command="mouse_leftTripleClick">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_leftTripleClick</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_triple_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Button 4 -->
    <div class="radiobox" data-command="mouse_button4Click">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_button4Click</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Button 5 -->
    <div class="radiobox" data-command="mouse_button5Click">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">mouse_button5Click</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">button_action_click_hint</p>
            <div name="mod-keys-placeholder"></div>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- TODO: Office Shortcut -->
</div> <!-- end .re_right set1 -->

<!-- Snippets -->
<div class="re_right" data-set="set2">
    <div class="radiobox" data-command="snippet" data-index='0'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet1</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='1'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet2</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='2'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet3</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='3'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet4</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='4'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet5</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='5'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet6</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='6'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet7</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='7'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet8</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='8'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet9</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippet" data-index='9'>
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippet10</p>
            </div>
        </label>

        <div class="set_content">
            <p class="set_title i18text">Content</p>
            <textarea class="text" placeholder=""></textarea>
            <p class="set_word i18text">snippet_hint</p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <div class="radiobox" data-command="snippetMenu">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">snippetMenu</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_word i18text">snippet_menu_hint</p>
        </div>
    </div>
</div> <!-- end .re_right set12 -->

<!-- Navigation -->
<div class="re_right" data-set="set3">
    <div class="radiobox" data-command="navigation_scrollUp">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_scrollUp</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Scrolling Speed</p>
            <div class="rangebox">
                <div class="unitarticle">
                    <input class="unitarticle_input" type="range" max="10" min="1" value="1">
                    <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="radiobox" data-command="navigation_scrollDown">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_scrollDown</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Scrolling Speed</p>
            <div class="rangebox">
                <div class="unitarticle">
                    <input class="unitarticle_input" type="range" max="10" min="1" value="1">
                    <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="radiobox" data-command="navigation_scrollLeft">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_scrollLeft</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Scrolling Speed</p>
            <div class="rangebox">
                <div class="unitarticle">
                    <input class="unitarticle_input" type="range" max="10" min="1" value="1">
                    <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="radiobox" data-command="navigation_scrollRight">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_scrollRight</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Scrolling Speed</p>
            <div class="rangebox">
                <div class="unitarticle">
                    <input class="unitarticle_input" type="range" max="10" min="1" value="1">
                    <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="radiobox" data-command="navigation_scrollwTrackball">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_scrollwTrackball</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Scrolling Speed</p>
            <div class="rangebox">
                <div class="unitarticle">
                    <input class="unitarticle_input" type="range" max="10" min="1" value="1">
                    <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="radiobox" data-command="navigation_scrollAuto">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_scrollAuto</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Scrolling Speed</p>
            <div class="rangebox">
                <div class="unitarticle">
                    <input class="unitarticle_input" type="range" max="10" min="1" value="1">
                    <datalist id="tickmarks">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option value="7"></option>
                        <option value="8"></option>
                        <option value="9"></option>
                        <option value="10"></option>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
    <div class="radiobox" data-command="navigation_pageUp">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_pageUp</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="navigation_pageDown">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_pageDown</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="navigation_home">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_home</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="navigation_end">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">navigation_end</p>
            </div>
        </label>
    </div>
</div> <!-- end .re_right set3 -->

<!-- Media -->
<div class="re_right" data-set="set4">
    <div class="radiobox" data-command="media_playPause">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">media_playPause</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="media_stop">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">media_stop</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="media_nextTrack">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">media_nextTrack</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="media_prevTrack">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">media_prevTrack</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="media_volumeUp">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">media_volumeUp</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="media_volumeDown">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">media_volumeDown</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="media_mute">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">media_mute</p>
            </div>
        </label>
    </div>
    <!--<div class="radiobox" data-command="media_eject">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">media_eject</p>
            </div>
        </label>
    </div>-->
</div> <!-- end .re_right set4 -->

<!-- Web Browser -->
<div class="re_right" data-set="set5">
    <div class="radiobox" data-command="browser_back">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">browser_back</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="browser_forward">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">browser_forward</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="browser_stop">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">browser_stop</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="browser_refresh">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">browser_refresh</p>
            </div>
        </label>
    </div>
</div> <!-- end .re_right set5 -->

<!-- Editing -->
<div class="re_right" data-set="set6">
    <div class="radiobox" data-command="editing_undo">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_undo</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_redo">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_redo</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_cut">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_cut</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_copy">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_copy</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_paste">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_paste</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_duplicate">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_duplicate</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_selectAll">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_selectAll</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_increaseSize">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_increaseSize</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_decreaseSize">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_decreaseSize</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="editing_find">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">editing_find</p>
            </div>
        </label>
    </div>
</div> <!-- end .re_right set6 -->

<!-- Mission Control -->
<div class="re_right" data-set="set7">
    <div class="radiobox" data-command="missionControl_missionControl">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">missionControl_missionControl</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="missionControl_applicationWindows">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">missionControl_applicationWindows</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="missionControl_launchpad">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">missionControl_launchpad</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="missionControl_showDashboard">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">missionControl_showDashboard</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="missionControl_showDesktop">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">missionControl_showDesktop</p>
            </div>
        </label>
    </div>
</div> <!-- end .re_right set7 -->

<!-- Application -->
<div class="re_right" data-set="set8">
    <div class="radiobox" data-command="application_showNextWindow">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">application_showNextWindow</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="application_minimizeWindow">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">application_minimizeWindow</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="application_closeWindow">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">application_closeWindow</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="application_hideCurrent">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">application_hideCurrent</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="application_hideOthers">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">application_hideOthers</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="application_preferences">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">application_preferences</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="application_quit">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">application_quit</p>
            </div>
        </label>
    </div>
</div> <!-- end .re_right set8 -->

<!-- System -->
<div class="re_right" data-set="set9">
    <div class="radiobox" data-command="system_spotlight">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_spotlight</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_showSpotlightWindow">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_showSpotlightWindow</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_switchWindow">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_switchWindow</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_switchApplication">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_switchApplication</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_focusOnDock">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_focusOnDock</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_focusOnMenu">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_focusOnMenu</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_toggleDockHiding">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_toggleDockHiding</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_showForceQuitDialog">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_showForceQuitDialog</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_showShutdownDialog">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_showShutdownDialog</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_logoffImmediately">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_logoffImmediately</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_logoff">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_logoff</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_restart">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_restart</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_sleep">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_sleep</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="system_shutdown">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">system_shutdown</p>
            </div>
        </label>
    </div>
</div> <!-- end .re_right set9 -->

<!-- Screen -->
<div class="re_right" data-set="set10">
    <div class="radiobox" data-command="screen_increaseBrightness">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">screen_increaseBrightness</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="screen_decreaseBrightness">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">screen_decreaseBrightness</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="screen_captureScreenToClipboard">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">screen_captureScreenToClipboard</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="screen_captureScreenToFile">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">screen_captureScreenToFile</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="screen_captureSelectionToClipboard">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">screen_captureSelectionToClipboard</p>
            </div>
        </label>
    </div>
    <div class="radiobox" data-command="screen_captureSelectionToFile">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">screen_captureSelectionToFile</p>
            </div>
        </label>
    </div>
</div> <!-- end .re_right set10 -->

<!-- Launching -->
<div class="re_right" data-set="set11">
    <!-- Open file -->
    <div class="radiobox" data-command="launching_openFile">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">launching_openFile</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Item to Open</p>
            <input class="addlink" type="submit" value="Choose" id="id-launch-file-choose">
            <p class="set_word"></p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Open folder -->
    <div class="radiobox" data-command="launching_openFolder">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">launching_openFolder</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Item to Open</p>
            <input class="addlink" type="submit" value="Choose" id="id-launch-folder-choose">
            <p class="set_word"></p>
            <div name="label-placeholder"></div>
        </div>
    </div>

    <!-- Launch application -->
    <div class="radiobox" data-command="launching_openApplication">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">launching_openApplication</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">Application to launch</p>
            <input class="addlink" type="submit" value="Choose" id="id-launch-application-choose">
            <p class="set_word"></p>
            <div name="label-placeholder"></div>
        </div>
    </div>
    <!-- Open URL -->
    <div class="radiobox" data-command="launching_openURL">
        <label class="chooselabel">
            <div class="choosebox">
                <input class="choose" type="radio" name="set">
                <p class="choosename i18text">launching_openURL</p>
            </div>
        </label>
        <div class="set_content">
            <p class="set_title i18text">URL to Open</p>
            <textarea class="text" placeholder="www.kensington.com" id="id-launch-url-choose"></textarea>
            <p class="set_word"></p>
            <div name="label-placeholder"></div>
        </div>
    </div>
</div> <!-- end .re_right set11 -->

<!-- Disable -->
<div class="re_right" data-set="set12">
    <div class="radiobox" data-command="disable">
        <label class="chooselabel">
            <div class="choosebox">
                <div class="choose"></div>
                <p class="choosename i18text">disable</p>
            </div>
        </label>
    </div>
</div> <!-- end .re_right set12 -->