{{if topView && sideView}}
<div class="directionbox">
  <div class="dir_button right" data-click="click2"><i class="dir be-icon be-icon-swichleft"></i></div>
  <div class="dir_button left click" data-click="click1"><i class="dir be-icon be-icon-swichtop"></i></div>
</div>
{{/if}}
{{if topView}}
<div class="productarea click" id="id_product_area_topview" data-click="click1">
  <div class="productimg list hover">
    <img src="images/trackball/{{:id}}/product-top.png" alt="">
  </div>
  {{for topButtons ~id=id}}
  <div class="productimg" data-hover="hover{{:mask}}"><img src="images/trackball/{{:~id}}/product_hover{{:mask}}.png" alt=""></div>
  {{/for}}
  <div class="productbutton" id="id-productbutton">
    <div class="pb_center">
      {{for topButtons}}
      <div class="pb hover{{:hoverIndex}}" data-hover="hover{{:mask}}" data-button-mask="{{:mask}}">
        <div class="hover_center">
          <p class="name">
            <span class="s_name">Placeholder</span>
            <span class="lock">Placeholder</span>
          </p>
        </div>
      </div>
      {{/for}}
    </div>
  </div>
</div>
{{/if}}
{{if sideView}}
<div class="productarea"  id="id_product_area_sideview" data-click="click2">
  <div class="productimg list hover">
    <img src="images/trackball/{{:id}}/product-side.png" alt="">
  </div>
  {{for sideButtons ~id=id}}
  <div class="productimg" data-hover="hover{{:mask}}"><img src="images/trackball/{{:~id}}/product_hover{{:mask}}.png" alt=""></div>
  {{/for}}
  <div class="productbutton" id="id-productbutton">
    <div class="pb_center">
      {{for sideButtons}}
      <div class="pb hover{{:hoverIndex}}" data-hover="hover{{:mask}}" data-button-mask="{{:mask}}">
        <div class="hover_center">
          <p class="name">
            <span class="s_name">Placeholder</span>
            <span class="lock">Placeholder</span>
          </p>
        </div>
      </div>
      {{/for}}
    </div>
  </div>
</div>
{{/if}}
