<!-- SCROLLING對應內容    -->
<div class="content_main open alwaysopen">
  <div class="productarea click">
    <!-- class="productimg list"為預設顯示，顯示請加入第二命名hover (也可以使用系統的方式串接, 第二命名提供給系統參考)-->
    <div class="productimg list hover">
      <!-- 照片請固定為方形(須系統提示)-->
      <!-- 目前照片的尺寸為267px x 267px，建議上傳照片必須超過此尺寸--><img src="images/trackball/{{:id}}/product_hover_scroll.png" alt="">
    </div>
  </div>
</div>
<div class="content_regulate open alwaysopen">
  <!-- 關閉按鈕 點了會直接跳到BUTTONS的大區塊(JQUERY已寫好)-->
  <div class="regulate_top">
    <div class="re_close"><i class="closeicon be-icon be-icon-close"></i>
      <p class="i18text">btn_Close</p>
    </div>
  </div>
  <div class="regulate_center scroll">
    <div class="pointerbox">
      <div class="pinticon"><i class="iconblue be-icon be-icon-pinticon3_blue"></i><i
          class="iconblack be-icon be-icon-pinticon3_black"></i></div>
      <div class="pintcontent">
        <p class="pinttitle i18text">Scrolling Speed</p>
        <!-- 一個class="rangebox"為一組拖曳項目所有內容單位-->
        <div class="rangebox">
          <div class="unitname left">
            <p class="i18text">Slow</p>
          </div>
          <div class="unitarticle">
            <!-- 拖曳條格數的多寡可以從input.unitarticle_input中的max=""調整，目前設定為10，是圖稿上的十一個定格-->
            <input class="unitarticle_input" type="range" max="100" min="1" id="scroll-speed-slider">
            <!-- 對應拖曳條的格子數量必須比拖曳條本身多設定一個，否則對應位置會跑掉-->
            <datalist id="tickmarks">
              <option value="1"></option>
              <option value="10"></option>
              <option value="20"></option>
              <option value="30"></option>
              <option value="40"></option>
              <option value="50"></option>
              <option value="60"></option>
              <option value="70"></option>
              <option value="80"></option>
              <option value="90"></option>
              <option value="100"></option>
            </datalist>
          </div>
          <div class="unitname right">
            <p class="i18text">Fast</p>
          </div>
        </div>
        <!-- 一個class="checkarea"為一組checkbox單位-->
        <div class="checkarea">
          <input class="inputcheck" type="checkbox" id="inertial-scroll-checkbox">
          <div class="checkbox">
            <div class="checkstyle"><i class="checkicon be-icon be-icon-check"></i></div>
            <div class="checkname i18text">Inertial Scroll</div>
            <p class="set_word i18text">inertial_scroll_hint</p>
          </div>
        </div>
      </div>
    </div>
    <div class="pointerbox">
      <div class="pinticon"><i class="iconblack be-icon be-icon-buttonicon3"></i></div>
      <div class="pintcontent">
        <p class="pinttitle i18text">Scrolling Orientation</p>
        <div class="orientation">
          <!-- 切換左右的class="reversebox"(分別有left跟right的第二命名)，切換以加入第二命名click顯示-->
          <!-- 放圖的區塊皆為第二命名center，加入click會開啟-->
          <div class="reversebox left" id="reverse-scroll-radio">
            <div class="reverse">
              <div class="center"></div>
            </div>
            <div class="article">
              <p class="reversename i18text">Reverse</p>
              <p class="reverseword i18text">scroll_direction_reverse_hint</p>
            </div>
          </div>
          <!-- 圖片尺寸為130px x 130px -->
          <!-- 圖片路徑為../images/trackball/-->
          <div class="reversebox center reverse" style="background-image: url(images/trackball/reverse.png)"></div>
          <div class="reversebox center normal click" style="background-image: url(images/trackball/normal.png)"></div>
          <div class="reversebox right click" id="normal-scroll-radio">
            <div class="reverse">
              <div class="center"></div>
            </div>
            <div class="article">
              <p class="reversename i18text">Normal</p>
              <p class="reverseword i18text">scroll_direction_normal_hint</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="regulate_bottom">
    <input class="i18text" type="submit" value="btn_Save" id="save-scroll-settings">
    <p class="i18text" id="id-restore-defaults-scroll">btn_RestoreDefaults</p>
  </div>
</div>