<!-- POINTER對應內容-->
<div class="content_main open alwaysopen">
  <div class="productarea click">
    <!--class="productimg list"為預設顯示，顯示請加入第二命名hover (也可以使用系統的方式串接, 第二命名提供給系統參考)-->
    <div class="productimg list hover">
      <!--照片請固定為方形(須系統提示)-->
      <!--目前照片的尺寸為267px x 267px，建議上傳照片必須超過此尺寸--><img src="images/trackball/{{:id}}/product_hover_pointer.png" alt="">
    </div>
  </div>
</div>
<div class="content_regulate open alwaysopen">
  <!-- 關閉按鈕 點了會直接跳到BUTTONS的大區塊(JQUERY已寫好)-->
  <div class="regulate_top">
    <div class="re_close"><i class="closeicon be-icon be-icon-close"></i>
      <p class="i18text">btn_Close</p>
    </div>
  </div>
  <div class="regulate_center scroll">
    <div class="pointerbox">
      <div class="pinticon"><i class="iconblue be-icon be-icon-pinticon1_blue"></i><i
          class="iconblack be-icon be-icon-pinticon1_black"></i></div>
      <div class="pintcontent">
        <p class="pinttitle i18text">Pointer Speed</p>
        <!-- 一個class="rangebox"為一組拖曳項目所有內容單位-->
        <div class="rangebox">
          <div class="unitname left">
            <p class="i18text">Slow</p>
          </div>
          <div class="unitarticle">
            <!-- 拖曳條格數的多寡可以從input.unitarticle_input中的max=""調整，目前設定為10，是圖稿上的十一個定格-->
            <input class="unitarticle_input" type="range" max="10" min="0" id="pointer-speed-slider">
            <!-- 對應拖曳條的格子數量必須比拖曳條本身多設定一個，否則對應位置會跑掉-->
            <datalist id="tickmarks">
              <option value="0"></option>
              <option value="10"></option>
              <option value="20"></option>
              <option value="30"></option>
              <option value="40"></option>
              <option value="50"></option>
              <option value="60"></option>
              <option value="70"></option>
              <option value="80"></option>
              <option value="90"></option>
              <option value="100"></option>
            </datalist>
          </div>
          <div class="unitname right">
            <p class="i18text">Fast</p>
          </div>
        </div>
        <!-- 一個class="checkarea"為一組checkbox單位-->
        <div class="checkarea">
          <input class="inputcheck" type="checkbox" id="pointer-accel-checkbox">
          <div class="checkbox">
            <div class="checkstyle"><i class="checkicon be-icon be-icon-check"></i></div>
            <div class="checkname i18text">Enable Acceleration</div>
          </div>
        </div>
        <!-- 一個class="rangebox"為一組拖曳項目所有內容單位-->
        <div class="rangebox">
          <div class="unitname left">
            <p class="i18text">Slow</p>
          </div>
          <div class="unitarticle">
            <!-- 拖曳條格數的多寡可以從input.unitarticle_input中的max=""調整，目前設定為10，是圖稿上的十一個定格-->
            <input class="unitarticle_input" type="range" max="10" min="0" id="pointer-accel-slider">
            <!-- 對應拖曳條的格子數量必須比拖曳條本身多設定一個，否則對應位置會跑掉-->
            <datalist id="tickmarks">
              <option value="0"></option>
              <option value="10"></option>
              <option value="20"></option>
              <option value="30"></option>
              <option value="40"></option>
              <option value="50"></option>
              <option value="60"></option>
              <option value="70"></option>
              <option value="80"></option>
              <option value="90"></option>
              <option value="100"></option>
            </datalist>
          </div>
          <div class="unitname right">
            <p class="i18text">Fast</p>
          </div>
        </div>
      </div>
    </div>
    <div class="pointerbox">
      <div class="pinticon"><i class="iconblue be-icon be-icon-pinticon2_blue"></i><i
          class="iconblack be-icon be-icon-pinticon2_black"></i></div>
      <div class="pintcontent">
        <!-- 一個class="checkarea"為一組checkbox單位-->
        <div class="checkarea">
          <input class="inputcheck" type="checkbox" id="slow-pointer-checkbox">
          <div class="checkbox">
            <div class="checkstyle"><i class="checkicon be-icon be-icon-check"></i></div>
            <div class="checkname i18text">Slow Pointer</div>
          </div>
        </div>
        <!-- 一個class="checkarea.cont"為一組checkbox內的內部選項設定-->
        <div class="checkarea cont">
          <div class="checkbox">
            <div class="modifier_keys">
              {{if platform == 'darwin'}}
              <div class="keysbox cmd">
                <label>
                  <input class="choose" type="checkbox" name="keys" id="slow-pointer-key-cmd">
                  <p class="choosename">Cmd</p>
                </label>
              </div>
              {{/if}}
              <div class="keysbox alt">
                <label>
                  <input class="choose" type="checkbox" name="keys" id="slow-pointer-key-alt">
                  <p class="choosename">{{:altLabel}}</p>
                </label>
              </div>
              <div class="keysbox shift">
                <label>
                  <input class="choose" type="checkbox" name="keys" id="slow-pointer-key-shift">
                  <p class="choosename">Shift</p>
                </label>
              </div>
              <div class="keysbox ctrl">
                <label>
                  <input class="choose" type="checkbox" name="keys" id="slow-pointer-key-ctrl">
                  <p class="choosename">Ctrl</p>
                </label>
              </div>
            </div>
            <p class="set_word i18text">slow_pointer_hint</p>
          </div>
        </div>
        <!-- 一個class="checkarea"為一組checkbox單位-->
        <div class="checkarea">
          <input class="inputcheck" type="checkbox" id="single-axis-checkbox">
          <div class="checkbox">
            <div class="checkstyle"><i class="checkicon be-icon be-icon-check"></i></div>
            <div class="checkname i18text">Single Axis Movement</div>
          </div>
        </div>
        <!-- 一個class="checkarea.cont"為一組checkbox內的內部選項設定-->
        <div class="checkarea cont">
          <div class="checkbox">
            <div class="modifier_keys">
              {{if platform == 'darwin'}}
              <div class="keysbox cmd">
                <label>
                  <input class="choose" type="checkbox" name="keys" id="single-axis-key-cmd">
                  <p class="choosename">Cmd</p>
                </label>
              </div>
              {{/if}}
              <div class="keysbox alt">
                <label>
                  <input class="choose" type="checkbox" name="keys" id="single-axis-key-alt">
                  <p class="choosename">{{:altLabel}}</p>
                </label>
              </div>
              <div class="keysbox shift">
                <label>
                  <input class="choose" type="checkbox" name="keys" id="single-axis-key-shift">
                  <p class="choosename">Shift</p>
                </label>
              </div>
              <div class="keysbox ctrl">
                <label>
                  <input class="choose" type="checkbox" name="keys" id="single-axis-key-ctrl">
                  <p class="choosename">Ctrl</p>
                </label>
              </div>
            </div>
            <p class="set_word i18text">single_axis_hint</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="regulate_bottom">
    <input class="i18text" type="submit" value="btn_Save" id="save-pointer-settings">
    <p class="i18text" id="id-restore-defaults-pointer">btn_RestoreDefaults</p>
  </div>
</div>
