<div class="swiper-slide" id="id-add-device-{{:id}}">
  <a href="tutor.html?device={{:id}}" title="{{:name}}" aria-label="{{:name}}">
    <div class="devicebox">
      <div class="deviceimg"><img src="images/trackball/{{:id}}/product.png"></div>
        <div class="svgborder">
          <svg version="1.1" id="linebox" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.334 54.334"
              enable-background="new 0 0 54.334 54.334" xml:space="preserve">
            <path
              d="M27.152,0.797c0,0,10.326-0.598,18.866,7.947c8.539,8.544,7.509,19.127,7.509,19.127s0.433,9.27-7.061,17.26c-7.493,7.988-19.314,8.414-19.314,8.414S15.501,53.7,7.905,45.202S0.778,26.706,0.778,26.706S0.164,17.142,8.195,8.84C16.224,0.539,27.152,0.797,27.152,0.797z">
            </path>
          </svg>
        </div>
    </div>
  </a>
</div>