<div class="menu_list">
  <a class="listbox" id="id_restore_setting">
    <i class="listicon be-icon be-icon-inport"></i>
    <h6 class="listname i18text">Restore Setting</h6>
  </a>
  <a class="listbox" id="id_backup_setting">
    <i class="listicon be-icon be-icon-export"></i>
    <h6 class="listname i18text">Backup Setting</h6>
  </a>
  <a class="listbox update is-hidden" id="id_update_available">
    <i class="listicon be-icon be-icon-update"></i>
    <!-- <i class="listicon be-icon be-icon-dot"></i> -->
    <h6 class="listname i18text">Update Available</h6>
  </a>
  <a class="listbox help" id="id_about">
    <i class="listicon be-icon be-icon-q_mark"></i>
    <h6 class="listname i18text">About</h6>
  </a>
</div>