<div class="right_menu" id="id_right_menu">
  <svg version="1.1" id="linebox" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
    <rect x="6.492" y="26.931" fill="#FFFFFF" width="43.485" height="4.646"></rect>
    <rect x="6.492" y="14.08" fill="#FFFFFF" width="43.485" height="4.645"></rect>
    <rect x="6.492" y="40.018" fill="#FFFFFF" width="43.485" height="4.645"></rect>
  </svg>
</div>