<div class="popup removeapp"><i class="popupicon be-icon be-icon-prompt"></i>
  <div class="popupsubtitle">Are you sure you want to remove (Application Name) from Application List?</div>
  <div class="popupword">This will delete all settings made for this application.</div>
  <div class="popupbutton">
    <div class="button cancel i18text">btn_Cancel</div>
    <input class="button connect i18text" type="submit" value="btn_Remove">
  </div>
</div>

<!-- 點選更新按鈕，需要更新的popup-->
<div class="popup updateapp" id="id_popup_updateapp">
  <i class="popupicon be-icon be-icon-updateicon"></i>
  <div class="update_available">
    <div class="popupsubtitle i18text">update_available</div>
    <div class="popupword top">
      <span id="id_popup_updateapp_version">Version:</span><br>
      <span id="id_popup_updateapp_published">Published:</span><br>
      <span id="id_popup_updateapp_size">Size:</span>
    </div>
    <div class="popupbutton">
      <div class="button cancel i18text">btn_Later</div>
      <input class="button startupdate i18text" type="submit" id="id_popup_updateapp_download" value="btn_Download">
    </div>
  </div>
</div>
<!-- 更新中的popup    -->

<div class="popup updatestart" id="id_popup_download">
  <i class="popupicon be-icon be-icon-updateicon"></i>
  <div class="popupsubtitle i18text">downloading_KensingtonWorks</div>
  <!-- <div class="popupword top">It might take a few minutes before the update installation is complete.</div> -->
  <div class="popupword" id="id_popup_download_status_size">0 / 0</div>
  <div class="startcontent">
    <div class="startline" id="id_popup_download_status_progress" style="width:0%;"></div>
  </div>
  <div class="popupbutton stop">
    <input class="button stopupdate" id="id_popup_download_cancel" type="submit" value="Cancel">
  </div>
</div>

<!-- 幫助popup-->
<div class="popup help" id="id_popup_about">
  <div class="text-center" style="display: block;">
    <img src="./images/product.png" alt="" width="80px" height="80px">
  </div>
  <div class="popupsubtitle">KensingtonWorks<h6 class='version'></h6>
  </div>
  <div class="popupword" id="id_popup_about_update_status">&nbsp;</div>
  <div class="popupword">
    <div>
      &copy;2021 Kensington Computer Product Group, a division of ACCO Brands.
    </div>
    <div>
      <a class='visit-kensington-web' href="https://www.kensington.com/">www.kensington.com</a>
    </div>
  </div>
  <div class="popupbutton stop">
    <div class="button cancel i18text">btn_Close</div>
    <!-- <input class="button i18text" type="submit" id="id_popup_about_check_for_updates" value="Check for Updates"
      data-action='check'> -->
  </div>
</div>

<div class="popup busy" id="id_popup_busy">
  <div class="busy-indicator-wrapper">
    <div class="busy-indicator"></div>
  </div>
  <div class="popupsubtitle i18text">Please wait</div>
</div>

<!-- 新裝置 -->
<div class="popup new_device">
  <div class="new_de_img"><img src="images/product.png" alt=""></div>
  <div class="popupsubtitle">New device detected.</div>
  <div class="popupword">Go to (product name product name) page now.</div>
  <div class="popupbutton">
    <div class="button cancel i18text">btn_Close</div>
    <input class="button connect i18text" type="submit" value="Go to Settings">
  </div>
</div>
<!-- 點選restore按鈕-->
<div class="popup restore" id="id_popup_restore">
  <i class="popupicon be-icon be-icon-inport"></i>
  <div class="popupsubtitle i18text">restore_settings_title</div>
  <div class="restore_from">
    <div class="frombox" id="id_restore_from_file">
      <i class="popupicon be-icon be-icon-computer"></i>
      <div class="popupsubtitle i18text">restore_settings_from_file</div>
      <div class="popupword i18text">restore_settings_from_file_hint</div>
    </div>
    <div class="frombox restore_from_cloud unbound">
      <i class="popupicon be-icon be-icon-cloud"></i>
      <div class="popupsubtitle i18text">restore_settings_from_my_cloud</div>
      <div class="popupword i18text">restore_settings_from_my_cloud_hint</div>
    </div>
    <div class="frombox restore_from_cloud google is-hidden">
      <div class="popupiconimg"><img src="images/google_drive.png" alt=""></div>
      <div class="popupsubtitle i18text">restore_settings_from_google_drive</div>
      <div class="email"></div>
    </div>
    <div class="frombox restore_from_cloud microsoft is-hidden">
      <div class="popupiconimg"><img src="images/microsoft_onedrive.png" alt=""></div>
      <div class="popupsubtitle i18text">restore_settings_from_microsoft_onedrive</div>
      <div class="email"></div>
    </div>
</div>
  <div class="popupbutton stop">
    <div class="button cancel i18text">btn_Cancel</div>
  </div>
</div>
<!-- Bind to my cloud account -->
<div class="popup bind_cloud" id="id_popup_bind_to_cloud">
  <i class="popupicon be-icon be-icon-link3"></i>
  <div class="popupsubtitle i18text">bind_to_cloud_title</div>
  <div class="popupword i18text">bind_to_cloud_message</div>
  <div class="restore_from">
    <div class="frombox" id="id_popup_bind_to_cloud_google">
      <div class="popupiconimg"><img src="images/google_drive.png" alt=""></div>
      <div class="popupsubtitle i18text">Google Drive</div>
      <div class="popupword i18text">bind_to_google_drive</div>
    </div>
    <div class="frombox" id="id_popup_bind_to_cloud_microsoft">
      <div class="popupiconimg"><img src="images/microsoft_onedrive.png" alt=""></div>
      <div class="popupsubtitle i18text">Microsoft OneDrive</div>
      <div class="popupword i18text">bind_to_microsoft_onedrive</div>
    </div>
  </div>
  <div class="popupbutton stop">
    <div class="button cancel i18text">btn_Cancel</div>
    <!-- <input class="button goboundok i18text" type="submit" value="Next"> -->
  </div>
</div>
<div class="popup boundok" id="id_popup_boundok">
  <i class="popupicon be-icon be-icon-link4"></i>
  <div class="popupsubtitle i18text">Bound Successfully!</div>
  <div class="drive_allwidth google is-hidden">
    <div class="popupiconimg"><img src="images/google_drive.png" alt=""></div>
    <div class="popupsubtitle i18text">Google Drive</div>
    <div class="email"></div>
  </div>
  <div class="drive_allwidth microsoft is-hidden">
      <div class="popupiconimg"><img src="images/microsoft_onedrive.png" alt=""></div>
      <div class="popupsubtitle i18text">Microsoft OneDrive</div>
      <div class="email"></div>
  </div>
  <label class="popupcheck" for="color-input-red">
    <input class="chat-button-location-radio-input" id="color-input-red" type="checkbox" name="color-input-red" value="#f0544d">
    <label for="color-input-red"></label>
    <p class='i18text'>auto_backup_changes_to_cloud</p>
  </label>
  <div class="popupbutton">
    <div class="button gounbound i18text" id="id_popup_boundok_unbind">Unbind</div>
    <input class="button cancel i18text" type="submit" value="btn_Close">
  </div>
</div>
<!-- Confirm unbind -->
<div class="popup unbound" id="id_popup_unbind">
  <i class="popupicon be-icon be-icon-prompt"></i>
  <div class="popupsubtitle">Are you sure you want to unbind from your cloud account?</div>
  <div class="popupword">You will no longer be able to save your settings to your cloud account</div>
  <div class="popupbutton">
    <div class="button cancel i18text">btn_Cancel</div>
    <input class="button connect i18text" id="id_unbind_cloud" type="submit" value="Unbind">
  </div>
</div>

<!-- 點選backup按鈕-->
<div class="popup backup" id="id_popup_backup">
  <i class="popupicon be-icon be-icon-export"></i>
  <div class="popupsubtitle i18text">backup_settings_title</div>
  <div class="restore_from">
    <div class="frombox" id="id_backup_to_file">
      <i class="popupicon be-icon be-icon-computer"></i>
      <div class="popupsubtitle i18text">backup_settings_to_file</div>
      <div class="popupword i18text">backup_settings_to_file_hint</div>
    </div>
    <div class="frombox backup_to_cloud unbound">
      <i class="popupicon be-icon be-icon-cloud"></i>
      <div class="popupsubtitle i18text">backup_settings_to_my_cloud</div>
      <div class="popupword i18text">backup_settings_to_my_cloud_hint</div>
    </div>
    <div class="frombox backup_to_cloud google is-hidden">
      <div class="popupiconimg"><img src="images/google_drive.png" alt=""></div>
      <div class="popupsubtitle i18text">backup_to_google_drive</div>
      <div class="email"></div>
    </div>
    <div class="frombox backup_to_cloud microsoft is-hidden">
      <div class="popupiconimg"><img src="images/microsoft_onedrive.png" alt=""></div>
      <div class="popupsubtitle i18text">backup_to_microsoft_onedrive</div>
      <div class="email"></div>
    </div>
    </div>
  <div class="popupbutton stop">
    <div class="button cancel i18text">btn_Cancel</div>
  </div>
</div>
<div class="popup" id="id_popup_alert">
  <span class='alerticon'><i class="popupicon be-icon be-icon-prompt"></i></span>
  <div class="popupsubtitle">Alert Title</div>
  <div class="popupword">Alert message here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
    bibendum laoreet.</div>
  <div class="popupbutton stop">
    <input class="button cancel i18text" type="submit" value="btn_Close">
  </div>
</div>
<div class="popup" id="id_popup_language">
  <span class='alerticon'><i class="popupicon be-icon be-icon-prompt"></i></span>
  <div class="popupsubtitle i18text">Select Language</div>
  <div class="popupword">
    <select class="lang-select" id="id_select_language">
      <option value="sys" class="i18text">System Language</option>
      <option value="en">English</option>
      <option value="fr">Française (French)</option>
      <option value="de">Deutsche (German)</option>
      <option value="nl">Nederlands (Dutch)</option>
      <option value="es">Español (Spanish)</option>
      <option value="it">Italiano (Italian)</option>
      <option value="pt">Português (Portugese)</option>
      <option value="dk">Dansk (Danish)</option>
      <option value="no">Norsk (Norwegian)</option>
      <option value="se">Svenska (Swedish)</option>
      <option value="fi">Suomi (Finnish)</option>
      <option value="ee">Eesti Keel (Estonian)</option>
      <option value="lv">Latviešu Valoda (Latvian)</option>
      <option value="lt">Lietuvių Kalba (Lithuanian)</option>
      <option value="pl">Polski (Polish)</option>
      <option value="cz">Čeština (Czech)</option>
      <option value="sz">Slovenčina (Slovak)</option>
      <option value="hu">Magyar (Hungarian)</option>
      <option value="ro">Limba Română (Romanian)</option>
      <option value="ru">Русский язык (Russian)</option>
      <option value="ua">Українська (Ukrainian)</option>
      <option value="kz">Қазақ тілі (Kazakh)</option>
      <option value="tr">Türkçe (Turkish)</option>
      <option value="gr">ελληνικά (Greek)</option>
      <option value="ar">العربية (Arabic)</option>
      <option value="zh-TW">中文-繁體 (Chinese Traditional)</option>
      <option value="zh-CN">中文-简体 (Chinese Simplified)</option>
      <option value="kr">한국어 (Korean)</option>
    </select>
  </div>
  <br>
  <div class="popupbutton">
    <div class="button cancel i18text">btn_Cancel</div>
    <input class="button connect i18text" id="id_change_language" type="submit" value="btn_OK">
  </div>
</div>
