<div class="swiper-slide" data-device-id="{{:id}}">
  <a href="{{:family}}_overview.html?device={{:id}}" title="{{:name}}" aria-label="{{:name}}">
    <div class="deviceimg"><img src="images/{{:family}}/{{:id}}/product.png" alt="{{:name}}"></div>
    <h6 class="devicename {{:nameClass}}">{{:name}}</h6>
  </a>
</div>