header .headertop .leftlogo {
    -webkit-app-region: drag;
}
body {
    overflow: hidden;
}

/* .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover6 .hover_center {
    height: 36px;
} */
.busy-indicator-wrapper {
    width: 50px;
    margin: auto;
}
.busy-indicator {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.tutorlink {
    background-color: gray;
    color: lightgray !important;
    border-radius: 1.3rem;
    padding-top: 0.2rem;
    font-size: 0.9rem !important;
}
/* Style that makes the connected device name text in homepage darker */
.wrap .device_area .devicecycle .swiper-container .swiper-wrapper .swiper-slide a .devicename.connected {
    color: #333333;
}
/*
.popup .frombox .cloud-info-wrapper {
    width: 100%;
    padding: 8px 8px;
    margin: auto;
    text-align:center;
    overflow:hidden;
    color: #838383;
}
.popup .frombox .cloud-info-wrapper .cloud-info-email {
    display: inline-block;
    max-width: 80%;
    text-overflow: ellipsis !important;
    overflow: hidden;
    cursor: default;
}
.popup .frombox .cloud-info-wrapper .cloud-info-remove {
    display: inline-block;
    color:red;
    cursor: pointer;
}
*/
.marked_content {
    cursor: pointer !important;
}

.loader h3 {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.lang-select {
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
}