/**
 * Foundation for Sites by ZURB
 * Version 6.4.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
footer {
  display: none; }

.wrap {
  height: calc(768px - 109.5px);
  position: relative; }
  .wrap .device_area .devicetitle {
    font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
    letter-spacing: 1px;
    margin: 40px 0 20px 0;
    text-align: center; }
  .wrap .device_area .devicecycle {
    position: relative;
    width: 100%;
    max-width: 1024px;
    min-width: 760px;
    padding: 0 50px;
    margin: 50px auto 40px auto; }
    .wrap .device_area .devicecycle .swiper-container .swiper-wrapper .swiper-slide a {
      display: block;
      cursor: pointer; }
      .wrap .device_area .devicecycle .swiper-container .swiper-wrapper .swiper-slide a .deviceimg {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        -webkit-filter: brightness(0.5);
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        .wrap .device_area .devicecycle .swiper-container .swiper-wrapper .swiper-slide a .deviceimg img {
          width: 100%;
          height: 100%; }
      .wrap .device_area .devicecycle .swiper-container .swiper-wrapper .swiper-slide a .devicename {
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        margin: 25px 0 0 0;
        padding: 0 30px;
        height: 45px;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        -ms-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #b9b9b9;
        font-weight: 300;
        letter-spacing: 0.5px;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .wrap .device_area .devicecycle .swiper-container .swiper-wrapper .swiper-slide a:hover .deviceimg {
        -webkit-transform: scale(1.03);
                transform: scale(1.03);
        -webkit-transition: 0.4s;
        transition: 0.4s; }
    .wrap .device_area .devicecycle .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active a .deviceimg {
      -webkit-filter: brightness(1);
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .wrap .device_area .devicecycle .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active a .devicename {
      color: #282828;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .wrap .device_area .devicecycle .swiper_prev {
      left: 0px; }
      .wrap .device_area .devicecycle .swiper_prev:hover {
        left: -5px;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
    .wrap .device_area .devicecycle .swiper_next {
      right: 0px; }
      .wrap .device_area .devicecycle .swiper_next:hover {
        right: -5px;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
    .wrap .device_area .devicecycle .swiper_prev, .wrap .device_area .devicecycle .swiper_next {
      position: absolute;
      top: calc(50% - 70px);
      font-size: 45px;
      cursor: pointer;
      outline: none;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
  .wrap .device_area .no_device {
    width: 100%;
    height: 338px;
    display: table; }
    .wrap .device_area .no_device h5 {
      font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      letter-spacing: 1.5px;
    }
  .wrap .device_area .device_addcycle {
    position: relative;
    width: 580px;
    margin: 0px auto 0px auto; }
    .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide a {
      display: block;
      cursor: pointer; }
      .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide a .devicebox {
        padding: 7px;
        border: 1px solid #c9c9c9;
        border-radius: 100px;
        margin: 0 10px;
        position: relative; }
        .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide a .devicebox .deviceimg {
          background-color: #313131;
          border-radius: 100px;
          padding: 15px;
          -webkit-transition: 1s;
          transition: 1s; }
          .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide a .devicebox .deviceimg img {
            -webkit-filter: contrast(1.5);
            width: 100%;
            height: 100%; }
        .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide a .devicebox .svgborder {
          position: absolute;
          top: -1px;
          left: -1px;
          width: calc(100% + 2px);
          height: calc(100% + 2px); }
          .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide a .devicebox .svgborder svg path {
            stroke-dasharray: 170;
            stroke-dashoffset: 170;
            fill: none;
            stroke-miterlimit: 10; }
      .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide a:hover .devicebox .deviceimg {
        -webkit-transform: scale(1.03);
                transform: scale(1.03);
        -webkit-transition: 0.4s;
        transition: 0.4s; }
    .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active a .devicebox .deviceimg {
      background-color: rgba(49, 49, 49, 0);
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .wrap .device_area .device_addcycle .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active a .devicebox .svgborder svg path {
      -webkit-animation: dash 3.4s linear forwards;
              animation: dash 3.4s linear forwards; }
    .wrap .device_area .device_addcycle .swiper_prev {
      left: -55px; }
      .wrap .device_area .device_addcycle .swiper_prev:hover {
        left: -65px;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
    .wrap .device_area .device_addcycle .swiper_next {
      right: -55px; }
      .wrap .device_area .device_addcycle .swiper_next:hover {
        right: -65px;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
    .wrap .device_area .device_addcycle .swiper_prev, .wrap .device_area .device_addcycle .swiper_next {
      position: absolute;
      top: calc(30% - 20px);
      font-size: 32px;
      cursor: pointer;
      outline: none;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .wrap .device_area .device_addcycle .view_all {
      display: block;
      border: 1px solid #9e9e9e;
      border-radius: 5px;
      color: #676767;
      text-align: center;
      letter-spacing: 0.5px;
      width: 180px;
      margin: 35px auto 0 auto;
      padding: 8px 0;
      font-size: 14px;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .wrap .device_area .device_addcycle .view_all:hover {
        width: 200px;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
  .wrap .coverbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: none; }
    .wrap .coverbox.click {
      display: block; }
  .wrap .popup {
    width: 500px;
    padding: 40px 0;
    position: absolute;
    left: calc(50% - 250px);
    top: 50px;
    background-color: #ffffff;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: none; }
    .wrap .popup.click {
      display: block; }
    .wrap .popup .popuptitle {
      text-align: center;
      font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
      margin: 0 auto;
      color: #333; }
    .wrap .popup .popupimg {
      width: 170px;
      height: 170px;
      margin: 30px auto 20px auto; }
      .wrap .popup .popupimg img {
        width: 100%;
        height: 100%; }
    .wrap .popup .popupsubtitle {
      text-align: center;
      font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
      margin: 0 auto;
      color: #333;
      letter-spacing: 1px; }
    .wrap .popup .popupword {
      width: 70%;
      margin: 20px auto 0 auto;
      text-align: center;
      font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
      font-size: 12px;
      color: #cacaca; }
    .wrap .popup .popupbutton {
      width: calc(185px * 2 + 6px);
      margin: 20px auto 0 auto; }
      .wrap .popup .popupbutton .button {
        width: 165px;
        text-align: center;
        border-radius: 30px;
        margin: 0 10px;
        letter-spacing: 0.5px;
        font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
        font-size: 13px; }
        .wrap .popup .popupbutton .button.cancel {
          color: #555555;
          background-color: #eeeeee;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
          .wrap .popup .popupbutton .button.cancel:hover {
            background-color: #cccccc;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
        .wrap .popup .popupbutton .button.connect {
          color: #ffffff;
          background-color: #26a7db;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
          .wrap .popup .popupbutton .button.connect:hover {
            background-color: #0066ce;
            -webkit-transition: 0.4s;
            transition: 0.4s; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 170;
    opacity: 1;
    stroke: #027FD6; }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: #0d97f8; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 170;
    opacity: 1;
    stroke: #027FD6; }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: #0d97f8; } }
