/**
 * Foundation for Sites by ZURB
 * Version 6.4.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
footer {
  display: none; }

.wrap {
  height: calc(768px - 109.5px);
  position: relative; }
  .wrap .device_area .devicetitle {
    font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
    letter-spacing: 1px;
    margin: 40px 0 20px 0;
    text-align: center; }
  .wrap .device_area .selected_tabcell {
    margin: 0 auto;
    overflow: hidden; }
    .wrap .device_area .selected_tabcell.one {
      width: calc(190px * 1); }
    .wrap .device_area .selected_tabcell.two {
      width: calc(190px * 2); }
    .wrap .device_area .selected_tabcell.three {
      width: calc(190px * 3); }
    .wrap .device_area .selected_tabcell .scrolltab {
      width: 170px;
      text-align: center;
      color: #333;
      border: 1px solid #bdbdbd;
      border-radius: 30px;
      margin: 0 10px;
      float: left;
      padding: 2px 0 3px 0;
      cursor: pointer;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .wrap .device_area .selected_tabcell .scrolltab.hover {
        background-color: #26a7db;
        border: 1px solid #26a7db;
        color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .wrap .device_area .selected_tabcell .scrolltab:hover {
        background-color: #26a7db;
        border: 1px solid #26a7db;
        color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
  .wrap .device_area .selectedcontent {
    width: 780px;
    margin: 0px auto;
    max-height: 0;
    overflow: hidden; }
    .wrap .device_area .selectedcontent.hover {
      margin: 20px auto;
      max-height: 960px; }
    .wrap .device_area .selectedcontent .swiper-container {
      position: relative; }
      .wrap .device_area .selectedcontent .swiper-container .swiper-wrapper {
        height: 110px; }
        .wrap .device_area .selectedcontent .swiper-container .swiper-wrapper .swiper-slide img {
          width: 360px;
          height: 257px;
          margin: 0 auto;
          margin-left: calc(50% - 180px); }
        .wrap .device_area .selectedcontent .swiper-container .swiper-wrapper .swiper-slide h5 {
          width: 100%;
          text-align: center;
          color: #adadad;
          margin: 25px 0 0 0;
          font-weight: 400;
          font-family: Century Gothic,roman,'Noto Sans TC',sans-serif;
          letter-spacing: 1px;
          font-size: 400; }
      .wrap .device_area .selectedcontent .swiper-container .swiper_prev, .wrap .device_area .selectedcontent .swiper-container .swiper_next {
        position: absolute;
        font-size: 50px;
        top: calc(50% - 30px - 40px);
        z-index: 999;
        outline: none;
        cursor: pointer; }
      .wrap .device_area .selectedcontent .swiper-container .swiper_prev {
        left: 0; }
      .wrap .device_area .selectedcontent .swiper-container .swiper_next {
        right: 0; }
    .wrap .device_area .selectedcontent .visit_word {
      color: #626262;
      text-align: center;
      line-height: 180%;
      font-weight: 400;
      font-family: Century Gothic,roman,'Noto Sans TC',sans-serif;
      font-size: 14px;
      margin: 30px 0 0 0; }
      .wrap .device_area .selectedcontent .visit_word a {
        color: #626262;
        border-bottom: 1px solid #626262; }

.homeiconbox {
  position: absolute;
  bottom: 0;
  height: 80px;
  border: none; }

.swiper-pagination {
  position: relative;
  margin: 40px auto 0 auto; }
  .swiper-pagination.products {
    margin: 0px auto 0 auto; }
    .swiper-pagination.products .swiper-pagination-bullet {
      background-color: #e3e3e3; }
    .swiper-pagination.products .swiper-pagination-bullet-active {
      background-color: #26a7db; }
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    opacity: 0.3;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #26a7db;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    margin: 0px 10px;
    opacity: 1;
    -webkit-transition: 0.4s;
    transition: 0.4s; }

.swiper-pagination-bullet {
  background-color: #e3e3e3; }

.swiper-pagination {
  bottom: -50px; }
