/**
 * Foundation for Sites by ZURB
 * Version 6.4.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.wrap .trov_leftbutton {
  width: 130px;
  float: left;
  background-color: #e3e3e3;
  border-right: 1px solid #cacaca;
  height: 100%; }
  .wrap .trov_leftbutton .trov_button {
    position: relative;
    padding: 15px 20px 10px 20px;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    transition: 0.4s;
    transition: 0.4s;
    transition: 0.4s; }
    .wrap .trov_leftbutton .trov_button:first-child {
      border-top: none; }
    .wrap .trov_leftbutton .trov_button p.buttonname {
      text-align: center;
      color: #333; }
    .wrap .trov_leftbutton .trov_button i.button_icon {
      font-size: 40px;
      color: #333;
      text-align: center;
      margin: 0 17px; }
    .wrap .trov_leftbutton .trov_button .right_tri {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 12px;
      border-color: transparent transparent transparent #26a8db;
      position: absolute;
      right: 0px;
      top: calc(50% - 10px);
      opacity: 0; }
    .wrap .trov_leftbutton .trov_button.click {
      background-color: #26a8db;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .wrap .trov_leftbutton .trov_button.click p.buttonname {
        color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .wrap .trov_leftbutton .trov_button.click i.button_icon {
        color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .wrap .trov_leftbutton .trov_button.click .right_tri {
        opacity: 1;
        right: -12px;
        -webkit-transition: 0.4s 0.1s;
        transition: 0.4s 0.1s; }
    .wrap .trov_leftbutton .trov_button:hover {
      background-color: #26a8db;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .wrap .trov_leftbutton .trov_button:hover p.buttonname {
        color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .wrap .trov_leftbutton .trov_button:hover i.button_icon {
        color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
      .wrap .trov_leftbutton .trov_button:hover .right_tri {
        opacity: 1;
        right: -12px;
        -webkit-transition: 0.4s 0.1s;
        transition: 0.4s 0.1s; }

.wrap .trov_rightcontent {
  width: calc(100% - 130px);
  float: right;
  height: 100%;
  overflow: hidden;
  display: none; }
  .wrap .trov_rightcontent.click {
    display: block; }
  .wrap .trov_rightcontent .content_main {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    -webkit-transition: 0.4s 0.4s;
    transition: 0.4s 0.4s; }
    .wrap .trov_rightcontent .content_main.open {
      width: calc(100% / 2 + 130px);
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .wrap .trov_rightcontent .content_main.alwaysopen {
      width: calc(100% / 2 + 130px);
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    .wrap .trov_rightcontent .content_main .directionbox {
      position: absolute;
      right: 30px;
      top: 30px; }
      .wrap .trov_rightcontent .content_main .directionbox .dir_button {
        background-color: #e2e2e2;
        border-radius: 50px;
        padding: 5px 5px 0 3px;
        border: 1px solid #e2e2e2;
        float: right;
        width: 50px;
        height: 50px;
        margin: 0 0 0 20px;
        cursor: pointer;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        .wrap .trov_rightcontent .content_main .directionbox .dir_button .dir {
          font-size: 30px;
          color: #c1c1c1; }
        .wrap .trov_rightcontent .content_main .directionbox .dir_button.click {
          border: 1px solid #b7b7b7; }
          .wrap .trov_rightcontent .content_main .directionbox .dir_button.click .dir {
            color: #26a7db; }
        .wrap .trov_rightcontent .content_main .directionbox .dir_button:hover {
          border: 1px solid #b7b7b7;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
    .wrap .trov_rightcontent .content_main .productarea {
      width: 660px;
      height: 100%;
      margin: 0 auto;
      display: none; }
      .wrap .trov_rightcontent .content_main .productarea .productimg {
        position: absolute;
        width: 280px;
        height: 280px;
        left: calc(50% - 140px);
        top: calc(55% - 140px);
        opacity: 0;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        .wrap .trov_rightcontent .content_main .productarea .productimg img {
          width: 100%;
          height: 100%; }
        .wrap .trov_rightcontent .content_main .productarea .productimg.hover {
          opacity: 1;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
      .wrap .trov_rightcontent .content_main .productarea .productbutton {
        width: 100%;
        height: 100%; }
        .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center {
          position: relative;
          width: 100%;
          height: 100%; }
          .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb {
            position: absolute;
            width: 200px;
            font-size: 14px;
            text-align: center;
            cursor: pointer; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover1 {
              left: 0;
              top: 220px; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover2 {
              left: 0;
              top: 345px; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover3 {
              left: calc(50% - 100px);
              top: 460px; }
              .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover3 .hover_center p.lockword {
                left: 210px;
                bottom: 0; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover4 {
              right: 0;
              top: 345px; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover5 {
              right: 0;
              top: 220px; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover6 {
              left: calc(50% - 100px);
              top: 80px; }
              /*
               Disable special size for hover6, which is the label for chord button with mask 12
               .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover6 .hover_center {
                height: 60px; }
                .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover6 .hover_center p.name {
                  height: 50px; }
              .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover6.click {
                top: 110px; }
                .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover6.click .hover_center {
                  height: 36px; }
                  .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover6.click .hover_center p.name {
                    height: 30px; } */
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb .hover_center {
              position: relative;
              width: 100%;
              height: 36px;
              border: 1px solid #bdbdbd;
              border-radius: 45px;
              padding: 5px 20px;
              background-color: #fff; }
              .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb .hover_center p.name {
                overflow: hidden;
                font-size: 15px;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                height: 30px; }
                .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb .hover_center p.name span.s_name {
                  display: block;
                  color: #333;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb .hover_center p.name span.lock {
                  display: none;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
              .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb .hover_center p.lockword {
                position: absolute;
                bottom: 50px;
                width: 220px;
                left: -10px;
                font-size: 14px;
                text-align: left;
                line-height: 110%;
                background-color: #26a7db;
                border-radius: 20px;
                padding: 10px 20px;
                color: #fff;
                opacity: 0;
                -webkit-transform: scale(0.85);
                        transform: scale(0.85);
                -webkit-transition: 0.4s;
                transition: 0.4s; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.click .hover_center {
              border: 1px solid #e2e2e2;
              background-color: #e2e2e2;
              color: #c1c1c1;
              -webkit-transition: 0.4s;
              transition: 0.4s; }
              .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.click .hover_center p.name span.s_name {
                display: none;
                -webkit-transition: 0.4s;
                transition: 0.4s; }
              .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.click .hover_center p.name span.lock {
                display: block;
                -webkit-transition: 0.4s;
                transition: 0.4s; }
              .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.click .hover_center p.lockword {
                opacity: 1;
                -webkit-transform: scale(1);
                        transform: scale(1);
                -webkit-transition: 0.4s;
                transition: 0.4s; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.click.hover .hover_center {
              border: 1px solid #e2e2e2;
              background-color: #e2e2e2; }
            .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover .hover_center {
              border: 1px solid #26a7db;
              background-color: #26a7db; }
              .wrap .trov_rightcontent .content_main .productarea .productbutton .pb_center .pb.hover .hover_center p.name span.s_name {
                color: #fff;
                -webkit-transition: 0.4s;
                transition: 0.4s; }
      .wrap .trov_rightcontent .content_main .productarea.click {
        display: block; }
  .wrap .trov_rightcontent .content_regulate {
    width: 0;
    height: 100%;
    background-color: #d1d1d1;
    float: right;
    border-left: 1px solid #cacaca;
    -webkit-transition: 0.4s 0.4s;
    transition: 0.4s 0.4s; }
    .wrap .trov_rightcontent .content_regulate.open {
      width: calc(100% / 2 - 130px);
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .wrap .trov_rightcontent .content_regulate.open .regulate_top {
        opacity: 1;
        -webkit-transition: 0.4s 0.4s;
        transition: 0.4s 0.4s; }
      .wrap .trov_rightcontent .content_regulate.open .regulate_center {
        opacity: 1;
        -webkit-transition: 0.4s 0.4s;
        transition: 0.4s 0.4s; }
      .wrap .trov_rightcontent .content_regulate.open .regulate_bottom {
        opacity: 1;
        -webkit-transition: 0.4s 0.4s;
        transition: 0.4s 0.4s; }
    .wrap .trov_rightcontent .content_regulate.alwaysopen {
      width: calc(100% / 2 - 130px);
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .wrap .trov_rightcontent .content_regulate.alwaysopen .regulate_top {
        opacity: 1;
        -webkit-transition: 0.4s 0.4s;
        transition: 0.4s 0.4s; }
      .wrap .trov_rightcontent .content_regulate.alwaysopen .regulate_center {
        opacity: 1;
        -webkit-transition: 0.4s 0.4s;
        transition: 0.4s 0.4s; }
      .wrap .trov_rightcontent .content_regulate.alwaysopen .regulate_bottom {
        opacity: 1;
        -webkit-transition: 0.4s 0.4s;
        transition: 0.4s 0.4s; }
    .wrap .trov_rightcontent .content_regulate .regulate_top {
      width: 100%;
      overflow: hidden;
      padding: 8px 15px;
      border-bottom: 1px solid #fff;
      opacity: 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      height: 56px; }
      .wrap .trov_rightcontent .content_regulate .regulate_top .re_close {
        width: calc(100% / 2 - 30px);
        float: left;
        overflow: hidden;
        margin: 10px 0 0 0;
        cursor: pointer; }
        .wrap .trov_rightcontent .content_regulate .regulate_top .re_close .closeicon {
          float: left;
          margin: 0 10px 0 0;
          color: #7f7f7f;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
        .wrap .trov_rightcontent .content_regulate .regulate_top .re_close p {
          float: left;
          line-height: 120%;
          color: #7f7f7f;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
        .wrap .trov_rightcontent .content_regulate .regulate_top .re_close:hover {
          -webkit-transition: 0.4s;
          transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_top .re_close:hover .closeicon {
            color: #26a7db;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_top .re_close:hover p {
            color: #26a7db;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
      .wrap .trov_rightcontent .content_regulate .regulate_top .re_search {
        width: calc(100% / 2 + 30px);
        float: right;
        overflow: hidden;
        background-color: #eeeeee;
        border-radius: 20px;
        padding: 0 0 0 15px;
        position: relative; }
        .wrap .trov_rightcontent .content_regulate .regulate_top .re_search input {
          background: none;
          border: none;
          float: left;
          width: calc(100% - 30px);
          color: #838383;
          font-size: 14px; }
          .wrap .trov_rightcontent .content_regulate .regulate_top .re_search input:focus {
            -webkit-box-shadow: 0 0 0;
                    box-shadow: 0 0 0; }
          .wrap .trov_rightcontent .content_regulate .regulate_top .re_search input.searchbtn {
            position: absolute;
            width: 30px;
            right: 0;
            top: 0;
            height: 100%;
            opacity: 0;
            cursor: pointer; }
        .wrap .trov_rightcontent .content_regulate .regulate_top .re_search .searchicon {
          float: right;
          width: 30px;
          color: #787878;
          margin: 8px 0 0 0; }
    .wrap .trov_rightcontent .content_regulate .regulate_center {
      height: calc(100% - 56px - 70px);
      opacity: 0;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      background-color: #e6e6e6; }
      .wrap .trov_rightcontent .content_regulate .regulate_center .re_left {
        width: calc(100% / 2 - 20px);
        float: left;
        border-right: 1px solid #cacaca; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_title {
          overflow: hidden;
          padding: 10px 10px 7px 10px; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_title .titleicon {
            color: #26a7db;
            float: left; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_title p {
            float: left;
            line-height: 162%;
            font-size: 14px; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_box {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #cacaca;
          padding: 10px 10px;
          cursor: pointer;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_box p {
            font-size: 14px;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_box:hover {
            background-color: #26a7db;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_box:hover p {
              color: #fff;
              -webkit-transition: 0.4s;
              transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_box.click {
            background-color: #26a7db;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_left .content_box.click p {
              color: #fff;
              -webkit-transition: 0.4s;
              transition: 0.4s; }
      .wrap .trov_rightcontent .content_regulate .regulate_center .re_right {
        width: calc(100% / 2 + 20px);
        float: right;
        background-color: #e6e6e6;
        border-left: 1px solid #fff;
        display: none; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_right.click {
          display: block; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox label {
          cursor: pointer; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox label .choosebox {
            overflow: hidden;
            padding: 2px 10px;
            background-color: #e6e6e6;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox label .choosebox .choose {
              width: 13px;
              height: 13px;
              border: 2px solid #d5d5d5;
              background-color: #d5d5d5;
              float: left;
              margin: 6px 10px 6px 0;
              border-radius: 10px; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox label .choosebox p.choosename {
              color: #5c5c5c;
              float: left;
              letter-spacing: 1px;
              font-size: 15px;
              -webkit-transition: 0.4s;
              transition: 0.4s;
              line-height: 100%;
              margin: 5px 0 0 0; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox label .choosebox p.choosename span {
                color: #9f9f9f;
                display: block;
                font-size: 12px; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content {
          background-color: #ffffff;
          padding: 0px 10px;
          overflow: hidden;
          max-height: 0px;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content input.text {
            color: #8a8a8a;
            background-color: #f3f3f3;
            border: 1px solid #f3f3f3;
            border-radius: 6px;
            padding: 0 10px;
            font-size: 14px;
            letter-spacing: 0.5px; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content input.text:focus {
              -webkit-box-shadow: none;
                      box-shadow: none; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content input.addlink {
            color: #8a8a8a;
            background-color: #ffffff;
            border: 1px solid #f3f3f3;
            border-radius: 6px;
            padding: 10px 10px;
            font-size: 14px;
            letter-spacing: 0.5px;
            cursor: pointer;
            width: 100%;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content input.addlink:focus {
              -webkit-box-shadow: none;
                      box-shadow: none; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content input.addlink:hover {
              border: 1px solid #999999;
              -webkit-transition: 0.4s;
              transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content textarea.text {
            color: #8a8a8a;
            background-color: #f3f3f3;
            border: 1px solid #f3f3f3;
            border-radius: 6px;
            padding: 5px 10px;
            font-size: 14px;
            letter-spacing: 0.5px;
            resize: none;
            height: 70px; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content textarea.text:focus {
              -webkit-box-shadow: none;
                      box-shadow: none; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content p.set_title {
            color: #555555;
            letter-spacing: 1px;
            font-size: 15px;
            font-weight: 600;
            margin: 0 0 10px 0;
            line-height: 100%; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content p.set_word {
            color: #9f9f9f;
            letter-spacing: 1px;
            font-size: 13px;
            margin: 5px 0 10px 0; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys {
            overflow: hidden; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox {
              border: 1px solid #bdbdbd;
              border-radius: 6px;
              float: left;
              position: relative;
              -webkit-transition: 0.4s;
              transition: 0.4s; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox.win {
                width: calc(100% / 4 + 8px - 3px);
                margin: 0 3px 0 0; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox.cmd {
                width: calc(100% / 4 + 8px - 3px);
                margin: 0 3px 0 0; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox.alt {
                width: calc(100% / 4 - 14px - 6px);
                margin: 0 3px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox.shift {
                width: calc(100% / 4 + 3px - 6px);
                margin: 0 3px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox.ctrl {
                width: calc(100% / 4 + 3px - 3px);
                margin: 0 0 0 3px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox label {
                padding: 8px 3px;
                overflow: hidden; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox label .choose {
                  -webkit-appearance: radio;
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox label .keysicon {
                  float: left;
                  font-size: 12px;
                  line-height: 100%;
                  -webkit-transform: translateY(2px);
                          transform: translateY(2px);
                  color: #555555;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox label p.choosename {
                  text-align: center;
                  line-height: 100%;
                  color: #555555;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                  .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox label p.choosename.system {
                    float: left;
                    margin: 0 0 0 1px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox:hover {
                border: 1px solid #26a7db;
                background-color: #26a7db;
                -webkit-transition: 0.4s;
                transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox:hover label .keysicon {
                  color: #ffffff;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox:hover label p.choosename {
                  color: #ffffff;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox.click {
                border: 1px solid #26a7db;
                background-color: #26a7db;
                -webkit-transition: 0.4s;
                transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox.click label .keysicon {
                  color: #ffffff;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .modifier_keys .keysbox.click label p.choosename {
                  color: #ffffff;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .shortcutbox {
            overflow: hidden; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .shortcutbox .altbox {
              border: 1px solid #bdbdbd;
              border-radius: 6px;
              float: left;
              width: 70px;
              padding: 5px 0px;
              text-align: center; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .shortcutbox .altbox p {
                color: #4f4f4f; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .shortcutbox .addbox {
              float: left;
              width: 30px;
              padding: 5px 0px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .shortcutbox .addbox p {
                color: #6d6d6d;
                text-align: center; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .shortcutbox input.shortcuttext {
              background-color: #f3f3f3;
              border: 1px solid #f3f3f3;
              border-radius: 6px;
              float: left;
              width: calc(100% - 100px);
              padding: 0 10px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .shortcutbox input.shortcuttext:focus {
                -webkit-box-shadow: none;
                        box-shadow: none; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .set_select {
            position: relative; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .set_select select {
              width: 100%;
              border: 1px solid #bdbdbd;
              border-radius: 6px;
              color: #676767;
              background-color: rgba(255, 255, 255, 0);
              padding: 0 10px;
              position: relative;
              z-index: 2;
              cursor: pointer; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .set_select select:focus {
                -webkit-box-shadow: none;
                        box-shadow: none; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox .set_content .set_select .setselect_arrow {
              position: absolute;
              color: #26a7db;
              right: 10px;
              top: 13px;
              font-size: 12px;
              z-index: 1; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox.click label .choosebox {
          padding: 15px 10px;
          background-color: #26a7db;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox.click label .choosebox .choose {
            border: 2px solid #ffffff;
            background-color: #0096ff; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox.click label .choosebox p.choosename {
            color: #ffffff;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox.click label .choosebox p.choosename span {
              color: #dddddd; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox.click .set_content {
          padding: 15px 10px;
          max-height: 500px;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox:hover label .choosebox {
          background-color: #26a7db;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox:hover label .choosebox p.choosename {
            color: #ffffff;
            -webkit-transition: 0.4s;
            transition: 0.4s; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .radiobox:hover label .choosebox p.choosename span {
              color: #dddddd; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .no_one_search {
          margin: 15px 15px 0 15px;
          padding: 0 0 15px 0; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .no_one_search p {
            font-size: 14px; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .no_one_search .title {
            color: #26a7db; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .no_one_search .blueword {
            color: #333333;
            margin: 25px 0 0 0; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .no_one_search .listword {
            color: #9c9c9c;
            display: list-item;
            margin: 0 0 0 20px; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .searchbox {
          width: calc(100% - 30px);
          margin: 15px 15px 0 15px;
          border-bottom: 1px solid #c3c9cd;
          padding: 0 0 15px 0; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .searchbox p.searchtitle {
            color: #333;
            line-height: 130%;
            font-weight: 600;
            letter-spacing: 0.5px; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .searchbox p.searchtitle span.searchword {
              color: #26a7db; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .re_right .searchbox p.searchtitle span.smallword {
              color: #ababab;
              display: block;
              font-size: 12px;
              font-weight: 300; }
      .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox {
        overflow: hidden;
        padding: 10px 15px 0px 15px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #cacaca;
        background-color: #e6e6e6; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox:first-child {
          border-top: none; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pinticon {
          width: 30px;
          float: left;
          position: relative;
          padding: 0px 0 0 0; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pinticon .iconblue {
            position: absolute;
            left: 0;
            z-index: 1;
            color: #26a7db;
            font-size: 20px;
            -webkit-transform: translate(-10px, 0px);
                    transform: translate(-10px, 0px); }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pinticon .iconblue.be-icon-pinticon3_blue {
              -webkit-transform: translate(1.2px, 0);
                      transform: translate(1.2px, 0);
              font-size: 25px; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pinticon .iconblue.be-icon-pinticon4_blue {
              -webkit-transform: translate(0px, 0);
                      transform: translate(0px, 0);
              font-size: 25px; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pinticon .iconblack {
            position: relative;
            z-index: 2;
            color: #606060;
            font-size: 20px;
            -webkit-transform: translate(0px, 5px);
                    transform: translate(0px, 5px); }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pinticon .iconblack.be-icon-pinticon3_black {
              font-size: 25px; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pinticon .iconblack.be-icon-buttonicon3 {
              font-size: 25px; }
        .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent {
          float: right;
          width: calc(100% - 30px);
          padding: 0 0 0 10px; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .pinttitle {
            color: #333333;
            font-size: 16px;
            line-height: 100%;
            padding: 7px 0; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0 0 15px 0; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox .unitname {
              width: 45px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox .unitname.left {
                text-align: left; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox .unitname.right {
                text-align: right; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox .unitname p {
                font-size: 14px;
                padding: 5px 0; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox .unitarticle {
              width: calc(100% - 90px); }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox .unitarticle #tickmarks {
                width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding: 0 5px;
                height: 6px;
                overflow: hidden;
                margin: 6px 0 0 0; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox .unitarticle #tickmarks option {
                  width: 100%;
                  border-right: 1px solid #888888;
                  padding: 0; }
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .rangebox .unitarticle #tickmarks option:first-child {
                    width: 0px; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea {
            position: relative; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea input.inputcheck {
              position: absolute;
              -webkit-appearance: checkbox;
              opacity: 0; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox {
              position: relative;
              margin: 0px 0 0 0;
              overflow: hidden; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .checkstyle {
                width: 15px;
                height: 15px;
                float: left;
                background-color: #d5d5d5;
                border-radius: 2px;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                margin: 3px 0 0 0;
                cursor: pointer; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .checkstyle .checkicon {
                  color: #fff;
                  font-size: 12px;
                  -webkit-transition: 0.4s;
                  transition: 0.4s;
                  opacity: 0; }
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .checkstyle .checkicon:before {
                    -webkit-transform: translate(-1px, -4px);
                            transform: translate(-1px, -4px); }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .checkstyle.click {
                  background-color: #26a7db;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .checkstyle.click .checkicon {
                    opacity: 1;
                    -webkit-transition: 0.4s;
                    transition: 0.4s; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .checkname {
                width: calc(100% - 15px);
                float: right;
                color: #4d4d4d;
                font-size: 14px;
                padding: 0 0 0 15px;
                letter-spacing: 0.5px;
                cursor: pointer; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys {
                display: table;
                width: 280px;
                padding: 5px 0 0 26px; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox {
                  border: 1px solid #bdbdbd;
                  border-radius: 6px;
                  width: calc(100% / 4 + 3px - 10px);
                  margin: 0 3px;
                  float: left;
                  position: relative;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                  /*
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox.alt {
                    width: calc(100% / 4 - 14px - 6px);
                    margin: 0 3px; }
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox.shift {
                    width: calc(100% / 4 + 3px - 6px);
                    margin: 0 3px; }
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox.ctrl {
                    width: calc(100% / 4 + 3px - 3px);
                    margin: 0 0 0 3px; } */
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox label {
                    padding: 5px 3px;
                    overflow: hidden; }
                    .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox label .choose {
                      -webkit-appearance: radio;
                      position: absolute;
                      top: 0;
                      left: 0;
                      opacity: 0;
                      width: 100%;
                      height: 100%; }
                    .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox label .keysicon {
                      float: left;
                      font-size: 12px;
                      line-height: 100%;
                      -webkit-transform: translateY(2px);
                              transform: translateY(2px);
                      color: #555555;
                      -webkit-transition: 0.4s;
                      transition: 0.4s; }
                    .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox label p.choosename {
                      text-align: center;
                      line-height: 100%;
                      color: #555555;
                      -webkit-transition: 0.4s;
                      transition: 0.4s;
                      font-size: 14px; }
                      .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .modifier_keys .keysbox label p.choosename.system {
                        float: left;
                        margin: 0 0 0 1px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea .checkbox .set_word {
                color: #9f9f9f;
                letter-spacing: 1px;
                font-size: 13px;
                margin: 0px 0 5px 0;
                padding: 5px 0 0 30px; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea.cont.click .checkbox .modifier_keys .keysbox {
              background-color: #fff; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea.cont.click .checkbox .modifier_keys .keysbox:hover {
                border: 1px solid #26a7db;
                background-color: #26a7db;
                -webkit-transition: 0.4s;
                transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea.cont.click .checkbox .modifier_keys .keysbox:hover label .keysicon {
                  color: #ffffff;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea.cont.click .checkbox .modifier_keys .keysbox:hover label p.choosename {
                  color: #ffffff;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea.cont.click .checkbox .modifier_keys .keysbox.click {
                border: 1px solid #26a7db;
                background-color: #26a7db;
                -webkit-transition: 0.4s;
                transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea.cont.click .checkbox .modifier_keys .keysbox.click label .keysicon {
                  color: #ffffff;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .checkarea.cont.click .checkbox .modifier_keys .keysbox.click label p.choosename {
                  color: #ffffff;
                  -webkit-transition: 0.4s;
                  transition: 0.4s; }
          .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: calc(100% + 25px);
            min-height: 80px;
            margin: 20px 0 20px -25px; }
            .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox {
              width: calc(100% / 3);
              overflow: hidden; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.left, .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.right {
                cursor: pointer; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.center {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100px 100px; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.center.reverse {
                  display: none; }
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.center.reverse.click {
                    display: block; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.center.normal {
                  display: none; }
                  .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.center.normal.click {
                    display: block; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox .reverse {
                width: 15px;
                height: 15px;
                border: 1px solid #d5d5d5;
                background-color: #d5d5d5;
                border-radius: 15px;
                float: left;
                margin: 6px 0 0 0;
                padding: 2px; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox .reverse .center {
                  background-color: #d5d5d5; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox .article {
                width: calc(100% - 15px);
                padding: 0 0 0 15px;
                float: right; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox .article .reversename {
                  color: #4e4e4e;
                  font-size: 16px; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox .article .reverseword {
                  color: #a1a1a1;
                  font-size: 14px; }
              .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.click .reverse {
                border: 1px solid #26a7db;
                background-color: #fff;
                border-radius: 15px; }
                .wrap .trov_rightcontent .content_regulate .regulate_center .pointerbox .pintcontent .orientation .reversebox.click .reverse .center {
                  width: 100%;
                  height: 100%;
                  border-radius: 15px;
                  background-color: #26a7db; }
    .wrap .trov_rightcontent .content_regulate .regulate_bottom {
      background-color: #c4c4c4;
      height: 70px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      opacity: 0;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
      .wrap .trov_rightcontent .content_regulate .regulate_bottom input, .wrap .trov_rightcontent .content_regulate .regulate_bottom p {
        width: 150px;
        float: right;
        border-radius: 30px;
        padding: 10px 15px;
        text-align: center;
        border: none;
        margin: 15px 10px 15px 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        cursor: pointer; }
      .wrap .trov_rightcontent .content_regulate .regulate_bottom p {
        background-color: #eeeeee;
        color: #989898;
        line-height: 100%; }
        .wrap .trov_rightcontent .content_regulate .regulate_bottom p:hover {
          background-color: #ffffff;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
      .wrap .trov_rightcontent .content_regulate .regulate_bottom input {
        background-color: #26a7db;
        color: #ffffff; }
        .wrap .trov_rightcontent .content_regulate .regulate_bottom input:hover {
          background-color: #0066ce;
          -webkit-transition: 0.4s;
          transition: 0.4s; }

.coverbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9996;
  display: none; }
  .coverbox.click {
    display: block; }

.restoreall {
  width: 500px;
  padding: 40px 0;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50px + 109.5px);
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 9997;
  display: none; }
  .restoreall.click {
    display: block; }
  .restoreall .popupicon {
    font-size: 70px;
    margin-left: calc(50% - 49px);
    color: #ff9600; }
  .restoreall .popuptitle {
    text-align: center;
    font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
    margin: 0 auto;
    color: #333; }
  .restoreall .popupimg {
    width: 170px;
    height: 170px;
    margin: 30px auto 20px auto; }
    .restoreall .popupimg img {
      width: 100%;
      height: 100%; }
  .restoreall .popupsubtitle {
    text-align: center;
    font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
    margin: 0 auto;
    color: #333;
    letter-spacing: 1px; }
  .restoreall .popupword {
    width: 90%;
    margin: 20px auto 40px auto;
    text-align: center;
    font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
    font-size: 12px;
    color: #cacaca; }
  .restoreall .popupbutton {
    width: calc(185px * 2 + 6px);
    margin: 20px auto 0 auto; }
    .restoreall .popupbutton .button {
      width: 165px;
      text-align: center;
      border-radius: 30px;
      margin: 0 10px;
      letter-spacing: 0.5px;
      font-family: Century Gothic ,'roman', 'Noto Sans TC' , sans-serif;
      font-size: 13px; }
      .restoreall .popupbutton .button.cancel {
        color: #555555;
        background-color: #eeeeee;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        .restoreall .popupbutton .button.cancel:hover {
          background-color: #cccccc;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
      .restoreall .popupbutton .button.connect {
        color: #ffffff;
        background-color: #26a7db;
        -webkit-transition: 0.4s;
        transition: 0.4s; }
        .restoreall .popupbutton .button.connect:hover {
          background-color: #0066ce;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
