<p class="set_title">Modifier Keys</p>
<div class="modifier_keys">
  {{if platform == 'win32'}}
  <div class="keysbox win">
    <label>
      <input class="choose" type="radio" name="keys">
      <p class="choosename">Win</p>
    </label>
  </div>
  {{else}}
  <div class="keysbox cmd">
    <label>
      <input class="choose" type="radio" name="keys">
      <p class="choosename">Cmd</p>
    </label>
  </div>
  {{/if}}
  <div class="keysbox alt">
    <label>
      <input class="choose" type="radio" name="keys">
      <p class="choosename">Alt</p>
    </label>
  </div>
  <div class="keysbox shift">
    <label>
      <input class="choose" type="radio" name="keys">
      <p class="choosename">Shift</p>
    </label>
  </div>
  <div class="keysbox ctrl">
    <label>
      <input class="choose" type="radio" name="keys">
      <p class="choosename">Ctrl</p>
    </label>
  </div>
</div>
<p class="set_word"></p>
