@font-face {
	font-family: "icon";
	src: url('icon.eot?1565836272740');
	src: url('icon.eot?#iefix-1565836272740') format('embedded-opentype'),
	url('icon.woff2?1565836272740') format('woff2'),
	url('icon.woff?1565836272740') format('woff'),
	url('icon.ttf?1565836272740') format('truetype'),
	url('icon.svg?1565836272740#icon') format('svg');
}

.be-icon:before {
	font-family: "icon";

	// Font smoothing. That was taken from TWBS
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-style: normal;
	font-weight: normal;

	// For safety - reset parent styles, that can break glyph codes
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// only necessary if not using the private unicode range (firstGlyph option)
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;

	// fix buttons height, for twitter bootstrap
	line-height: 1em;

	// Animation center compensation - margins should be symmetric
	// remove if not needed
	margin-left: .2em;

	// you can be more comfortable with increased icons size
	// font-size: 120%;

	// Uncomment for 3D effect
	// text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

/* Glyphs list */


.be-icon-add:before {
 content: '\ea01';
}

.be-icon-arrow:before {
 content: '\ea02';
}

.be-icon-battery:before {
 content: '\ea03';
}

.be-icon-buttonicon1:before {
 content: '\ea04';
}

.be-icon-buttonicon2:before {
 content: '\ea05';
}

.be-icon-buttonicon3:before {
 content: '\ea06';
}

.be-icon-check:before {
 content: '\ea07';
}

.be-icon-close:before {
 content: '\ea08';
}

.be-icon-cloud:before {
 content: '\ea09';
}

.be-icon-cmd:before {
 content: '\ea0a';
}

.be-icon-computer:before {
 content: '\ea0b';
}

.be-icon-dot:before {
 content: '\ea0c';
}

.be-icon-export:before {
 content: '\ea0d';
}

.be-icon-file:before {
 content: '\ea0e';
}

.be-icon-home:before {
 content: '\ea0f';
}

.be-icon-index_arrow_left:before {
 content: '\ea10';
}

.be-icon-index_arrow_right:before {
 content: '\ea11';
}

.be-icon-inport:before {
 content: '\ea12';
}

.be-icon-link:before {
 content: '\ea13';
}

.be-icon-link2:before {
 content: '\ea14';
}

.be-icon-link3:before {
 content: '\ea15';
}

.be-icon-link4:before {
 content: '\ea16';
}

.be-icon-logo:before {
 content: '\ea17';
}

.be-icon-narrow:before {
 content: '\ea18';
}

.be-icon-pinticon1_black:before {
 content: '\ea19';
}

.be-icon-pinticon1_blue:before {
 content: '\ea1a';
}

.be-icon-pinticon2_black:before {
 content: '\ea1b';
}

.be-icon-pinticon2_blue:before {
 content: '\ea1c';
}

.be-icon-pinticon3_black:before {
 content: '\ea1d';
}

.be-icon-pinticon3_blue:before {
 content: '\ea1e';
}

.be-icon-pinticon4_black:before {
 content: '\ea1f';
}

.be-icon-pinticon4_blue:before {
 content: '\ea20';
}

.be-icon-prompt:before {
 content: '\ea21';
}

.be-icon-q_mark:before {
 content: '\ea22';
}

.be-icon-revise:before {
 content: '\ea23';
}

.be-icon-revise2:before {
 content: '\ea24';
}

.be-icon-search:before {
 content: '\ea25';
}

.be-icon-setselect_arrow:before {
 content: '\ea26';
}

.be-icon-star:before {
 content: '\ea27';
}

.be-icon-starline:before {
 content: '\ea28';
}

.be-icon-statusicon1:before {
 content: '\ea29';
}

.be-icon-statusicon2:before {
 content: '\ea2a';
}

.be-icon-swichleft:before {
 content: '\ea2b';
}

.be-icon-swichtop:before {
 content: '\ea2c';
}

.be-icon-trash:before {
 content: '\ea2d';
}

.be-icon-update:before {
 content: '\ea2e';
}

.be-icon-updateicon:before {
 content: '\ea2f';
}

.be-icon-updateok:before {
 content: '\ea30';
}

.be-icon-updateovericon:before {
 content: '\ea31';
}

.be-icon-win:before {
 content: '\ea32';
}
