<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta name="robots" content="noindex, nofollow,noarchive,nosnippet,noimageindex,noodp">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/ico" href="https://begonia-design.com.tw/images/favicon.ico">
	<title>Icon Font - glyphs list</title>

	<!-- CSS -->
	<link rel="stylesheet" href="icons.css">
	<link rel="stylesheet" href="iconfont-demo.css">
</head>
<body>
<div class="wrapper" id="app">

	<header id="header">
		<div class="container">
			<div class="hd-top">
				<span class="t-title">使用說明文件：</span>
				<a href="https://docs.google.com/document/d/1o-waHPhJDr3yPD8cfRazkEjcxA7Ho1SVKK8pNGNb9Ig/edit?usp=sharing" target="_blank" class="tooltip" data-title="限海棠設計員工讀取">gulp-iconfont 使用方式</a>
			</div>
			<div class="hd-center">
				<h1 class="title">Icon Font<small class="t-tip"> - glyphs list</small></h1>
				<div class="hd-gulptip">
					<ul>
						<li><span class="t-title">font-family:</span> "icon";</li>
						<li><span class="t-title">Font class:</span> .be-icon</li>
					</ul>
					<p class="t-tip"><small>（於gulpfile.js調整設定）</small></p>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Container -->
	<main class="container" id="main">
		<!-- Show Type -->
		<div class="list-type-wrapper" id="list-type-wrapper">
			<ul class="list-type">
				<li>
					<input type="radio" name="showtype" id="show-tag" class="radiobox" value="tag" v-model="x" checked>
					<label for="show-tag">顯示&lt;i&gt;</label>
				</li>
				<li>
					<input type="radio" name="showtype" id="show-class" class="radiobox" value="class" v-model="x">
					<label for="show-class">顯示class</label>
				</li>
			</ul>
		</div>

		<!-- List -->
		<ul class="glyphs-list">
			
			<li>
				<i class="be-icon be-icon-add"></i>
				<h4>add</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-add&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-add" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea01</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-arrow"></i>
				<h4>arrow</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-arrow&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-arrow" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea02</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-battery"></i>
				<h4>battery</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-battery&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-battery" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea03</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-buttonicon1"></i>
				<h4>buttonicon1</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-buttonicon1&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-buttonicon1" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea04</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-buttonicon2"></i>
				<h4>buttonicon2</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-buttonicon2&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-buttonicon2" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea05</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-buttonicon3"></i>
				<h4>buttonicon3</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-buttonicon3&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-buttonicon3" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea06</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-check"></i>
				<h4>check</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-check&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-check" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea07</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-close"></i>
				<h4>close</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-close&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-close" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea08</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-cloud"></i>
				<h4>cloud</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-cloud&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-cloud" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea09</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-cmd"></i>
				<h4>cmd</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-cmd&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-cmd" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0a</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-computer"></i>
				<h4>computer</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-computer&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-computer" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0b</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-dot"></i>
				<h4>dot</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-dot&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-dot" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0c</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-export"></i>
				<h4>export</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-export&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-export" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0d</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-file"></i>
				<h4>file</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-file&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-file" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0e</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-home"></i>
				<h4>home</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-home&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-home" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea0f</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-index_arrow_left"></i>
				<h4>index_arrow_left</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-index_arrow_left&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-index_arrow_left" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea10</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-index_arrow_right"></i>
				<h4>index_arrow_right</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-index_arrow_right&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-index_arrow_right" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea11</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-inport"></i>
				<h4>inport</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-inport&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-inport" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea12</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-link"></i>
				<h4>link</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-link&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-link" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea13</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-link2"></i>
				<h4>link2</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-link2&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-link2" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea14</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-link3"></i>
				<h4>link3</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-link3&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-link3" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea15</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-link4"></i>
				<h4>link4</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-link4&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-link4" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea16</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-logo"></i>
				<h4>logo</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-logo&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-logo" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea17</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-narrow"></i>
				<h4>narrow</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-narrow&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-narrow" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea18</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-pinticon1_black"></i>
				<h4>pinticon1_black</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-pinticon1_black&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-pinticon1_black" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea19</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-pinticon1_blue"></i>
				<h4>pinticon1_blue</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-pinticon1_blue&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-pinticon1_blue" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea1a</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-pinticon2_black"></i>
				<h4>pinticon2_black</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-pinticon2_black&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-pinticon2_black" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea1b</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-pinticon2_blue"></i>
				<h4>pinticon2_blue</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-pinticon2_blue&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-pinticon2_blue" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea1c</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-pinticon3_black"></i>
				<h4>pinticon3_black</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-pinticon3_black&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-pinticon3_black" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea1d</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-pinticon3_blue"></i>
				<h4>pinticon3_blue</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-pinticon3_blue&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-pinticon3_blue" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea1e</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-pinticon4_black"></i>
				<h4>pinticon4_black</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-pinticon4_black&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-pinticon4_black" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea1f</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-pinticon4_blue"></i>
				<h4>pinticon4_blue</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-pinticon4_blue&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-pinticon4_blue" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea20</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-prompt"></i>
				<h4>prompt</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-prompt&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-prompt" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea21</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-q_mark"></i>
				<h4>q_mark</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-q_mark&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-q_mark" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea22</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-revise"></i>
				<h4>revise</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-revise&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-revise" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea23</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-revise2"></i>
				<h4>revise2</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-revise2&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-revise2" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea24</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-search"></i>
				<h4>search</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-search&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-search" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea25</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-setselect_arrow"></i>
				<h4>setselect_arrow</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-setselect_arrow&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-setselect_arrow" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea26</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-star"></i>
				<h4>star</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-star&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-star" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea27</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-starline"></i>
				<h4>starline</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-starline&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-starline" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea28</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-statusicon1"></i>
				<h4>statusicon1</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-statusicon1&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-statusicon1" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea29</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-statusicon2"></i>
				<h4>statusicon2</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-statusicon2&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-statusicon2" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea2a</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-swichleft"></i>
				<h4>swichleft</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-swichleft&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-swichleft" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea2b</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-swichtop"></i>
				<h4>swichtop</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-swichtop&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-swichtop" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea2c</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-trash"></i>
				<h4>trash</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-trash&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-trash" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea2d</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-update"></i>
				<h4>update</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-update&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-update" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea2e</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-updateicon"></i>
				<h4>updateicon</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-updateicon&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-updateicon" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea2f</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-updateok"></i>
				<h4>updateok</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-updateok&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-updateok" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea30</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-updateovericon"></i>
				<h4>updateovericon</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-updateovericon&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-updateovericon" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea31</code></p>
			</li>
			
			<li>
				<i class="be-icon be-icon-win"></i>
				<h4>win</h4>
				<div class="input-item" v-if="x === 'tag'">
					<input type="text" value="&lt;i class=&quot;be-icon be-icon-win&quot;&gt;&lt;/i&gt;" />
					<button class="btn-copy">複製</button>
				</div>
				<div class="input-item" v-if="x === 'class'">
					<input type="text" value="be-icon be-icon-win" />
					<button class="btn-copy">複製</button>
				</div>
				<p class="text-code"><span class="t-title">Unicode</span><code class="copy-unicode tooltip" data-title="複製 Unicode">\ea32</code></p>
			</li>
			
		</ul>
		<!-- /.End List -->
	</main>

	<footer id="footer">
		© 2019 網頁設計的專家－ <a href="https://begonia-design.com.tw/" target="_blank">海棠網頁設計公司</a> ALL RIGHTS RESERVED
	</footer>

</div>
<!-- /.End .wrapper -->

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script defer>
	(function(window, document){
		
		// Create Element.remove() function if not exist
		if (!('remove' in Element.prototype)) {
			Element.prototype.remove = function() {
				if (this.parentNode) {
					this.parentNode.removeChild(this);
				}
			};
		}

		// Copy to Clipboard
		var successMsg, clipTimer;

		function addCopySuccess(){
			if(successMsg == undefined){
				successMsg = document.createElement('div');
				successMsg.className = 'copysuctip';
				successMsg.innerText = '複製成功';
			}
			document.body.appendChild(successMsg);

			// Remove
			clearTimeout(clipTimer);
			clipTimer = null;
			clipTimer = setTimeout(function(){
				successMsg.remove();
				clipTimer = null;
			},3000);
		}

		var clipboard = new ClipboardJS('.btn-copy',{
			target: function(el) {
				return el.parentElement.querySelector('input');
			}
		});
		clipboard.on('success', addCopySuccess);

		var clipboard2 = new ClipboardJS('.copy-unicode',{
			text: function(el) {
				return el.innerText;
			}
		});
		clipboard2.on('success', addCopySuccess);


		// -----------------------------------
		// Change Type (Vue)
		new Vue({
			el: '#app',
			data: {
				x: 'tag',
			},
		});

		// -----------------------------------
		// Scroll and fixed navigation

		// Get Body Scroll Top (zh-Hant): http://www.eion.com.tw/Blogger/?Pid=1154
		function getScrollTop(){
			var bodyTop = 0;
			if (typeof window.pageYOffset != "undefined") {
				bodyTop = window.pageYOffset;

			} else if (typeof document.compatMode != "undefined"
						&& document.compatMode != "BackCompat") {
				bodyTop = document.documentElement.scrollTop;

			} else if (typeof document.body != "undefined") {
				bodyTop = document.body.scrollTop;
			}
			return bodyTop
		}

		var showTypeWrapper = document.querySelector('#list-type-wrapper');
		var showTypeWrapperOffsetTop = showTypeWrapper.getBoundingClientRect().top + getScrollTop();
		function scrollNav(){
			var ws = getScrollTop();
			if(ws > showTypeWrapperOffsetTop){
				showTypeWrapper.classList.add('is-fixed');
			}else{
				showTypeWrapper.classList.remove('is-fixed');
			}
		}
		window.addEventListener('scroll', scrollNav);

		// -----------------------------------
		//IE old version tip
		var userAgent = window.navigator.userAgent;  
		if (userAgent.indexOf("MSIE 7.0")>0 || userAgent.indexOf("MSIE 8.0")>0 || userAgent.indexOf("MSIE 9.0")>0 || userAgent.indexOf("MSIE 10.0")>0) {
			var ieTip = document.createElement('div');
			ieTip.className = "ie-tip";

			var ieTipSpan = document.createElement('span');
			ieTipSpan.innerHTML = "不支援此版本瀏覽器，請開發者更換支援度較高之瀏覽器。<br><small>（用IE開發是要毀滅世界嗎？ಠ_ಠ）</small>";
			ieTip.appendChild(ieTipSpan);

			document.body.appendChild(ieTip);
		}

	})(window, document);
</script>

</body>

</html>